
{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href='static/bookings/fullcalendar/packages/core/main.css' rel='stylesheet' />
        <link href='static/bookings/fullcalendar/packages/daygrid/main.css' rel='stylesheet' />
        
        <script src='static/bookings/fullcalendar/packages/core/main.js'></script>
        <script src='static/bookings/fullcalendar/packages/daygrid/main.js'></script>
        <script src='static/bookings/fullcalendar/packages/interaction/main.js'></script>
        <script src='static/bookings/fullcalendar/packages/google-calendar/main.js'></script>


        <link href="{% static 'bookings/styles/style.css'%}" rel='stylesheet'/>

        
        <title>Sintannaverhuur</title>
        {% if messages %}
            {% for message in messages %}
                <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    </head>
    <body>
        <div id="headerdiv" class="container">
            <header>
                <h2>Sintannaverhuur</h2>
                <h6><small>Een vakantiehuis huis gelegen in West Zeeuws Vlaanderen, in het stadje Sint Anna Ter Muiden</small></h6>
            </header>
        </div>
        
        <div id="navcontainer" class="container">
            <nav id="navbar" class="navbar navbar-expand-sm navbar-custom sticky-top">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <b><a class="nav-link" href="/">Home</a></b>
                    </li>
                    <li class="nav-item">
                        <b><a class="nav-link" href="/indeling">Indeling</a></b>
                    </li>
                    <li class="nav-item">
                        <b><a class="nav-link" href="/book">Beschikbaarheid & Boeken</a></b>
                    </li>
                    <li class="nav-item">
                        <b><a class="nav-link" href="/contact">Contact gegevens</a></b>
                    </li>
                </ul>
            </nav>
        </div>
        <div id="bodydiv" class="container">
            {% block body %}
            {% endblock %}
        </div>
        
        {% block script %}
        {% endblock %}
    </body>
</html>