{% extends "bookings/base.html" %}
{% load static %}

{% block body %}
    <br>
    <p>
        Leuk dat u interesse heeft in het boeken van een overnachting.<br>
        Voor het boeken van een periode in het huisje kunt u gebruik maken van het boekingssysteem hieronder.<br>
        Bij het boekingssysteem is het belangrijk dat je niet je vertrek dag aanklikt, maar alleen de dagen waarop je ook overnacht.<br>
        <br>
        Voor boekingen hanteren wij een minimum van 3 nachten.<br>
        In het hoogseizoen een minimum van een week, mocht een volle week in die periode niet meer mogelijk zijn kan je altijd een aanvraag doen.<br>
    </p>
    
    <div class="row">
        <div class="col-md-6">
            <div id='calendar0'></div>
        </div>
    </div>

    <form action="{% url 'book' %}" method="POST">
        {% csrf_token %}
        <table style="width:70%">
            <tr>
                <td>Aankomst:</td>
                <td><input type="text" id="arrival_date" name="arrival_date" readonly="True" required></td>
            </tr>
            <tr>
                <td>Vertrek:</td>
                <td><input type="text" id="departure_date" name="departure_date" readonly="True" required></td>
            </tr>
            <tr>
                <td>Voornaam:*</td>
                <td><input type="text" name="firstname" required></td>
            </tr>
            <tr>
                <td>Achternaam:*</td>
                <td><input type="text" name="lastname" required></td>
            </tr>
            <tr>
                <td>mailadres:*</td>
                <td><input type="text" name="email" required></td>
            </tr>
            <tr>
                <td>telefoonnummer:*</td>
                <td><input type="text" name="telefoonnummer" required></td>
            </tr>
        </table>
        <br>
        <select class="col-md-6" name="quest_number" required>
            <option selected >Aantal gasten</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">6+ (Neem contact op om te informeren over de mogelijkheden)</option>
        </select>
        <br>
        <div class="col-md-6">
            <label for="comment">Opmerkingen:</label>
            <textarea class="form-control" rows="5" id="comment"></textarea>
        </div>
        <br>
        <button type="submit">Submit</button>
        <small>* Required field</small>
    </form>

{% endblock %}

{% block script %}
    <script src="{% static 'bookings/scripts/bookingcalendar.js' %}"></script>
{% endblock %}