{% extends "bookings/base.html" %}
{% load static %}

{% block body %}
    <div class="container">
        <br>
        <p>
            Karakteristieke woning in beschermd dorpsgezicht Sint Anna ter Muiden, gelegen op 300 meter van de Belgische grens. Vanuit het huis heb je een weids uitzicht over het zeeuwse landschap.<br>
            Op een heldere dag kan je de duinen van ‘t Zwin zien liggen. In dit dorpje vlak naast het stadje Sluis sta je op met een uitzicht op een ooievaars nest, fazanten en onze koetjes (rode geuzen) in de voortuin.<br>
        </p>
        <br>
        <p>
            Dit vakantiehuis is aan de ene kant meer dan geschikt om helemaal tot rust te komen. Maar je bent er ook op fietsafstand van het strand (Cadzand, Retranchement, Knokke) of bijzondere steden zoals Brugge of Gent.
        </p>
        <p>
            Het huis is ingericht voor 4 tot 6 personen.
        </p>
    </div>

    <!-- Slideshow container -->
    <div class="slideshow-container">
        {% for IMG in sfeer_afbeeldingen %}
            <!-- Full-width images with number and caption text -->
            <div class="mySlides fade">
                <img src="/static/bookings/afbeeldingen/Zeeland/sfeer/{{IMG}}" style="width:100%">
            </div>
        {% endfor %}
    </div>  
{% endblock %}

{% block script %}
    <script src="{% static 'bookings/scripts/slideshow.js' %}"></script>
{% endblock %}
