{% extends "bookings/base.html" %}
{% load static %}

{% block body %}
    <div class="container">
        <p>
            Het huisje in Sint Anna heeft twee verdieping.
        </p>
        <p>
            Onderverdieping:
            <ul>
                <li>Een tv, speel en werkkamer</li>
                <li>Een ruime zitkamer met muziek installatie en sfeervolle houtkachel</li>
                <li>Een eetkeuken voorzien van lange eettafel en van uitgebreid kookgerei</li>
                <li>Een lichte serre met zicht op de achtertuin</li>
            </ul>
        </p>
        <p>
            Bovenverdieping:
            <ul>
                <li>Slaapkamer met kingsize bed</li>
                <li>Slaapkamer met twijfelaar en ledikant</li>
                <li>Slaapkamer met twee- éénpersoonsbedden</li>
            </ul>
            Linnengoed huurt u voor €12,50 bij ons huren, er ligt dan een set klaar (lakens en handdoeken) bij aankomst.
        </p>
        <p>  
            Sanitair:
            <ul>
                <li>Slaapkamer met kingsize bed</li>
                <li>Slaapkamer met twijfelaar en ledikant</li>
                <li>Slaapkamer met twee- éénpersoonsbedden</li>
            </ul>
        </p>  
        <p>  
            Schuur:
            <ul>
                <li>4 fijne stevige fietsen</li>
                <li>Tandem</li>
                <li>Tafeltennistafel</li>
                <li>Tafelvoetbaltafel</li>
                <li>BBQ</li>
                <li>Pizza oven</li>
                <li>Ruim strand en tuin meubilair</li>
            </ul>
        </p>  
    </div>

    <!-- Slideshow container -->
    <div class="slideshow-container">
        {% for IMG in inrichting_afbeeldingen %}
            <!-- Full-width images with number and caption text -->
            <div class="mySlides fade">
                <img src="/static/bookings/afbeeldingen/Zeeland/inrichting/{{IMG}}" style="width:100%">
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'bookings/scripts/slideshow.js' %}"></script>
{% endblock %}